
   
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Response</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stytlesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/index.css">
  
</head>

<body>
 <div class="response" >

 <h1 class="City"><%= city %> </h1>
 <br>
 <h1 class="Temp"><%= temp %> °C</h1>
 <br>
 <h1><%= description %></h1>
 <img src="<%= iconUrl %>">
  
 <form action="/" method="get">
    <button type="submit" class="btn btn-outline-warning">Back</button>
 </form>

</div>
</body>
</html>   